@font-face{
    font-family: "Cursed Timer";
    src: url("CursedTimerUlil-Aznm.ttf")
}

body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
    color: white;
    
}

.score{
    background: #080001;
    font-size: 90px;
    font-family: "Cursed Timer";
    color: #F94F6D;
    width: 120px;
    height: 120px;
    margin: 0 auto 26px;
    padding-top: relative;
    top: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 60px 40px;
}
   
.column{
  width: 250px;
  text-align: center; 
}

button{
  width: 45px;
  height: 45px;
  font-family: "Cursed Timer";

  background: transparent;
  color: #9AABD8;
  border: 2px solid #9AABD8;
  border-radius: 8px;

  cursor: pointer;
    
}

h3{
   margin: 0 0 18px;
   font-size: 32px;
   letter-spacing: 2px;
   
}